# Ignore binaries (file hasil compile)
soal_1/kenz_rescue
soal_2/client
soal_2/fuse_app
soal_2/server

# Ignore mount points (folder virtual)
soal_1/mnt/
soal_2/fuse_mount/

# JANGAN abaikan .gitkeep agar folder kosong tetap masuk GitHub
!.gitkeep
